@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
.preload {
  -webkit-transition: 0 !important;
  transition: 0 !important;
}

/*---------------- あとで消す：ここから ----------------*/
/*---------------- あとで消す：END ----------------*/
/*---------------- カラー設定 ----------------*/
/*---------------- カラー設定：END ----------------*/
/*---------------- フォント設定 ----------------*/
/*---------------- フォント設定：END ----------------*/
/*---------------- レスポンシブ ：END ----------------*/
body {
  width: 100%;
  margin: 0 auto;
}

/*---------------- ヘッダー ----------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #000000;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__site-name {
  margin: 20px 0 0 20px;
}

header .header__site-name h1 {
  color: #990000;
  font-size: 4em;
  padding-bottom: 5px;
}

header .header__site-name h1:hover span:nth-of-type(1) {
  color: #FF0000;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header__site-name h1 span:nth-of-type(1) {
  -webkit-transition: 1s;
  transition: 1s;
}

/*---------------- ヘッダー：END ----------------*/
/*---------------- ナビゲーション（PC） ----------------*/
@media all and (min-width: 1024px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav .header__nav-list li {
    margin-right: 40px;
    width: 120px;
    text-align: center;
  }
  .nav-btn {
    width: 100%;
    height: 100%;
    padding: 20px 0 10px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /*-------- 日本語：ナビゲーション（PC） --------*/
    /*-------- 日本語：ナビゲーション（PC） --------*/
  }
  .nav-btn .nav-en {
    letter-spacing: 2px;
    font-size: 2em;
  }
  .nav-btn .nav-ja {
    font-size: 0.8em;
    text-align: center;
  }
  .nav-btn::before {
    position: absolute;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #990000;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
  }
  .nav-btn::after {
    position: absolute;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #990000;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
  .nav-btn:hover::before, .nav-btn:hover::after {
    width: 100%;
    -webkit-transition: .8s;
    transition: .8s;
  }
  .nav-btn .nav-ja {
    letter-spacing: 0;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .nav-btn:hover .nav-ja {
    letter-spacing: 5px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .nav-btn .nav-en span {
    display: inline-block;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .nav-btn:hover .nav-en span {
    display: inline-block;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: .8s;
    transition: .8s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(1) {
    color: #FF0000;
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(2) {
    color: #990000;
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(3) {
    color: #990000;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(4) {
    color: #990000;
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(5) {
    color: #990000;
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(6) {
    color: #990000;
    -webkit-transition-delay: 0.44s;
    transition-delay: 0.44s;
  }
  .nav-btn:hover .nav-en span:nth-of-type(7) {
    color: #990000;
    -webkit-transition-delay: 0.52s;
    transition-delay: 0.52s;
  }
}

/*---------------- ナビゲーション（PC） ：END ----------------*/
section:first-of-type {
  margin-top: 200px;
}

section .section__title {
  font-size: 3em;
  padding: 10px;
  margin: 0 auto;
}

.section__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__contents dl {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 28%;
  margin: 60px 60px 70px 0;
}

.section__contents dl:last-child {
  margin-right: 0;
}

.section__contents dl .section__contents-title {
  font-size: 2.5em;
  padding: 10px 10px 5px;
  letter-spacing: 2px;
}

.section__contents dl .section__contents-details {
  padding: 10px;
}

.section__contents dl .section__contents-details .text-details {
  text-align: center;
  margin-bottom: 10px;
}

.section__contents dl .section__contents-details .btn-more {
  margin-top: 20px;
}

.section__contents dl .section__contents-details .btn-more a {
  display: block;
  width: 100%;
  height: 100%;
}

.section__contents dl .section__contents-details ul {
  min-height: 50px;
}

.section__contents-form {
  border-radius: 15px;
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
}

.section__contents-form .contents-form__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__contents-form .contents-form__style dt {
  text-align: left;
  padding: 10px 5px;
  width: 30%;
  margin-bottom: 20px;
}

.section__contents-form .contents-form__style dd {
  text-align: left;
  padding: 5px 0;
  width: 70%;
  margin-bottom: 20px;
}

.section__contents-form input[type="text"],
.section__contents-form textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.section__contents-form input[type="text"]::-webkit-input-placeholder,
.section__contents-form textarea::-webkit-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]:-ms-input-placeholder,
.section__contents-form textarea:-ms-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]::-ms-input-placeholder,
.section__contents-form textarea::-ms-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]::placeholder,
.section__contents-form textarea::placeholder {
  color: #afafb0;
}

.section__contents-form .form-style__message textarea {
  height: 140px;
}

.section__contents-form .form-style__submit .btn-contact {
  width: 100px;
  margin: 0 auto;
  display: block;
}

footer {
  padding: 0 10px 10px;
}

footer ul {
  margin: 30px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  font-family: "Sawarabi Mincho";
  width: 80px;
  text-align: center;
}

@media all and (min-width: 1024px) {
  header .header__nav-small {
    display: none;
  }
  header #nav-small {
    position: fixed;
    top: 0;
    right: 0;
  }
  .btn-top {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  header {
    background: #302833;
  }
}

@media all and (max-width: 1024px) {
  header {
    padding-bottom: 0;
  }
  header .header__site-name {
    margin: 10px auto 0;
  }
  header .header__site-name h1 {
    font-size: 3em;
  }
  header .header__nav {
    display: none;
  }
  section:first-of-type {
    margin-top: 100px;
  }
  section .section__title {
    font-size: 3em;
    padding: 8px;
    margin: 0 auto;
  }
  section .section__contents {
    display: block;
  }
  section .section__contents dl {
    margin: 20px auto;
    width: 100%;
  }
  section .section__contents dl:last-child {
    margin: 0 auto 40px;
  }
  section .section__contents dl .section__contents-details ul li {
    text-align: center;
  }
  .section__contents-form {
    width: 95%;
    margin: 40px auto;
  }
  .section__contents-form .contents-form__style {
    display: block;
  }
  .section__contents-form .contents-form__style dt {
    font-size: 0.8em;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 0;
  }
  .section__contents-form .contents-form__style dd {
    font-size: 0.8em;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .section__contents-form .form-style__message textarea {
    height: 140px;
  }
  .btn-top {
    border-radius: 50%;
    border: 1px solid #990000;
    background: #000000;
    color: #afafb0;
    font-family: "Sawarabi Mincho";
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
  }
  .btn-top a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-top::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    -webkit-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%);
    top: 6px;
    left: 46%;
    border-top: 1px solid #afafb0;
    border-right: 1px solid #afafb0;
  }
  footer ul li {
    min-width: 50px;
  }
}

@media all and (max-width: 480px) {
  header {
    padding: 0;
  }
  header .header__site-name h1 {
    font-size: 2em;
  }
  section:first-of-type {
    margin-top: 60px;
  }
  section .section__title {
    font-size: 2em;
    padding: 5px;
    margin: 0 auto;
  }
  section .section__contents-form {
    width: 95%;
    border-radius: 10px;
    padding: 20px 5px;
  }
  .btn-top {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

/*---------------- レスポンシブ ：END ----------------*/
/*---------------- カラー＆詳細設定：END ----------------*/
body {
  background-color: #000000;
}

header {
  color: #afafb0;
}

header .header__site-name {
  font-family: "Alex Brush", cursive;
}

header .nav-en {
  font-family: "Alex Brush", cursive;
  text-align: center;
}

header .nav-ja {
  font-family: "Sawarabi Mincho";
  text-align: center;
}

section .section__title {
  color: #990000;
  border-top: 1px solid #990000;
  border-bottom: 1px solid #990000;
  font-family: "Alex Brush", cursive;
  text-align: center;
}

section dl .section__contents-title {
  color: #990000;
  font-family: "Alex Brush", cursive;
  text-align: center;
}

section dl .section__contents-details {
  color: #afafb0;
  font-family: "Sawarabi Mincho";
}

section dl .section__contents-details .text-details {
  font-family: "Sawarabi Mincho";
  color: #afafb0;
}

section dl .section__contents-details ul li {
  font-family: "Sawarabi Mincho";
  text-align: center;
}

.section__contents-form {
  background: #111111;
  border: 1px solid #990000;
}

.section__contents-form .contents-form__style dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sawarabi Mincho";
  color: #FFFFFF;
}

.section__contents-form .contents-form__style dt .tag-required {
  background-color: #FF0000;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.3em;
  font-weight: bold;
  padding: 1px 3px;
  margin-right: 5px;
}

.section__contents-form .contents-form__style dd input[type="text"],
.section__contents-form .contents-form__style dd textarea {
  background: #FFFFFF;
  color: #000000;
}

.section__contents-form .form-style__submit .btn-contact {
  border: 1px solid #FF0000;
  text-align: center;
}

footer {
  color: #afafb0;
  font-family: "Sawarabi Mincho";
  border-top: 1px solid #afafb0;
}

footer .copyright {
  color: #FFFFFF;
  font-family: "Sawarabi Mincho";
  font-size: 0.1em;
  text-align: center;
}

.btn-more {
  color: #afafb0;
  border: 1px solid #990000;
  font-family: "Alex Brush", cursive;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
}

/*---------------- カラー＆詳細設定：END ----------------*/
/*---------------- 画像 ----------------*/
.img-about__me {
  background: url("../../img/ver2/about/me.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__lang {
  background: url("../../img/ver2/skill/lang.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__study {
  background: url("../../img/ver2/skill/study.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__school {
  background: url("../../img/ver2/skill/school.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__history {
  background: url("../../img/ver2/works/work.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__portfolio {
  background: url("../../img/ver2/works/portfolio.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__school {
  background: url("../../img/ver2/works/school.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}
/*# sourceMappingURL=style.css.map */