@charset "UTF-8";
/*---------------- あとで消す：ここから ----------------*/
/*---------------- あとで消す：END ----------------*/
/*---------------- カラー設定 ----------------*/
/*---------------- カラー設定：END ----------------*/
/*---------------- フォント設定 ----------------*/
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
/*---------------- フォント設定：END ----------------*/
/*---------------- レスポンシブ ：END ----------------*/
body {
  width: 100%;
  margin: 0 auto;
}

body section {
  width: 100%;
  margin: 0 auto;
}

header {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__site-name {
  margin: 20px 0 0 20px;
}

header .header__site-name h1 {
  font-size: 4em;
}

header .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__nav .header__nav-list li {
  margin-right: 20px;
  padding: 10px 15px;
  width: 120px;
}

header .header__nav .header__nav-list li .nav-en {
  font-size: 2em;
}

header .header__nav .header__nav-list li .nav-ja {
  font-size: 0.8em;
}

section .section__title {
  font-size: 3em;
  padding: 10px;
  margin: 0 auto;
}

.section__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__contents dl {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 28%;
  margin: 60px 60px 70px 0;
}

.section__contents dl:last-child {
  margin-right: 0;
}

.section__contents dl .section__contents-title {
  font-size: 2.5em;
  padding: 10px 10px 5px;
  letter-spacing: 2px;
}

.section__contents dl .section__contents-details {
  padding: 10px;
}

.section__contents dl .section__contents-details .text-details {
  text-align: center;
  margin-bottom: 10px;
}

.section__contents dl .section__contents-details .btn-more {
  margin-top: 20px;
}

.section__contents dl .section__contents-details .btn-more a {
  display: block;
  width: 100%;
  height: 100%;
}

.section__contents dl .section__contents-details ul {
  min-height: 50px;
}

.section__contents-form {
  border-radius: 15px;
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
}

.section__contents-form .contents-form__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__contents-form .contents-form__style dt {
  text-align: left;
  padding: 10px 5px;
  width: 30%;
  margin-bottom: 20px;
}

.section__contents-form .contents-form__style dd {
  text-align: left;
  padding: 5px 0;
  width: 70%;
  margin-bottom: 20px;
}

.section__contents-form input[type="text"],
.section__contents-form textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.section__contents-form input[type="text"]::-webkit-input-placeholder,
.section__contents-form textarea::-webkit-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]:-ms-input-placeholder,
.section__contents-form textarea:-ms-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]::-ms-input-placeholder,
.section__contents-form textarea::-ms-input-placeholder {
  color: #afafb0;
}

.section__contents-form input[type="text"]::placeholder,
.section__contents-form textarea::placeholder {
  color: #afafb0;
}

.section__contents-form .form-style__message textarea {
  height: 140px;
}

.section__contents-form .form-style__submit .btn-contact {
  width: 100px;
  margin: 0 auto;
  display: block;
}

footer {
  padding: 0 10px 10px;
}

footer ul {
  margin: 30px auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  font-family: "Sawarabi Mincho";
  width: 80px;
  text-align: center;
}

/*------------------------------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480
1280-1024：デスクトップ（デフォルトのグリッド）
1024-768：タブレット横長
768-480：タブレット縦長
480-less：スマホ
--------------------------------------------*/
@media all and (max-width: 1024px) {
  header .header__site-name {
    margin: 10px 0 0 10px;
  }
  header .header__site-name h1 {
    font-size: 3em;
  }
  header .header__nav {
    display: none;
  }
  section .section__title {
    font-size: 3em;
    padding: 8px;
    margin: 0 auto;
  }
  section .section__contents {
    display: block;
  }
  section .section__contents dl {
    margin: 20px auto;
    width: 80%;
  }
  section .section__contents dl:last-child {
    margin: 0 auto 40px;
  }
  section .section__contents dl .section__contents-details ul li {
    text-align: center;
  }
  .section__contents-form {
    width: 95%;
    margin: 40px auto;
  }
  .section__contents-form .contents-form__style {
    display: block;
  }
  .section__contents-form .contents-form__style dt {
    font-size: 0.8em;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 0;
  }
  .section__contents-form .contents-form__style dd {
    font-size: 0.8em;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .section__contents-form .form-style__message textarea {
    height: 140px;
  }
  footer ul li {
    min-width: 50px;
  }
}

@media all and (max-width: 480px) {
  header {
    margin: 10px 0;
  }
  header .header__site-name {
    margin: 5px 0 0 5px;
  }
  header .header__site-name h1 {
    font-size: 2em;
  }
  section .section__title {
    font-size: 2em;
    padding: 5px;
    margin: 0 auto;
  }
  section .section__contents-form {
    width: 95%;
    border-radius: 10px;
    padding: 20px 5px;
  }
}

/*---------------- レスポンシブ ：END ----------------*/
/*---------------- カラー＆詳細設定：END ----------------*/
body {
  background-color: #000000;
}

header {
  color: #afafb0;
}

header .header__site-name {
  font-family: "Alex Brush", cursive;
}

header .header__nav .header__nav-list li {
  border-top: 1px solid #990000;
  border-bottom: 1px solid #990000;
}

header .header__nav .header__nav-list li .nav-en {
  font-family: "Alex Brush", cursive;
  text-align: center;
}

header .header__nav .header__nav-list li .nav-ja {
  font-family: "Sawarabi Mincho";
  text-align: center;
}

section .section__title {
  color: #990000;
  border-top: 1px solid #990000;
  border-bottom: 1px solid #990000;
  font-family: "Alex Brush", cursive;
  text-align: center;
}

section dl .section__contents-title {
  color: #990000;
  font-family: "Alex Brush", cursive;
  text-align: center;
}

section dl .section__contents-details {
  color: #afafb0;
  font-family: "Sawarabi Mincho";
}

.section__contents-form {
  background: #111111;
  border: 1px solid #990000;
}

.section__contents-form .contents-form__style dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Sawarabi Mincho";
  color: #FFFFFF;
}

.section__contents-form .contents-form__style dt .tag-required {
  background-color: #FF0000;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 0.3em;
  font-weight: bold;
  padding: 1px 3px;
  margin-right: 5px;
}

.section__contents-form .contents-form__style dd input[type="text"],
.section__contents-form .contents-form__style dd textarea {
  background: #FFFFFF;
  color: #000000;
}

.section__contents-form .form-style__submit .btn-contact {
  border: 1px solid #FF0000;
  text-align: center;
}

footer {
  color: #afafb0;
  font-family: "Sawarabi Mincho";
  border-top: 1px solid #afafb0;
}

footer .copyright {
  color: #FFFFFF;
  font-family: "Sawarabi Mincho";
  font-size: 0.1em;
  text-align: center;
}

.btn-more {
  color: #afafb0;
  border: 1px solid #990000;
  font-family: "Alex Brush", cursive;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
}

/*---------------- カラー＆詳細設定：END ----------------*/
/*---------------- 画像 ----------------*/
.img-about__me {
  background: url("../../img/ver2/about/me.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__lang {
  background: url("../../img/ver2/skill/lang.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__study {
  background: url("../../img/ver2/skill/study.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-skill__tool {
  background: url("../../img/ver2/skill/tool.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__work {
  background: url("../../img/ver2/works/work.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__portfolio {
  background: url("../../img/ver2/works/portfolio.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}

.img-works__school {
  background: url("../../img/ver2/works/school.jpg") no-repeat center center;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-indent: -9999px;
}
/*# sourceMappingURL=style.css.map */