// 画面読み込み時にtransitionのアニメーションを動作させないおまじない
.preload{
	transition:0 !important;
	}
/*---------------- あとで消す：ここから ----------------*/
// body {
// 	border: 1px solid #ffffff;
// 	color: #ffffff;
// }
// header {
// 	border: 1px solid #ff0000;
// 	color: #ffffff;
// }
// section {
// 	border: 1px solid #0011ff;
// 	color: #ffffff;
// }
// div {
// 	border: 1px solid #00ff37;
// 	color: #ffffff;
// }
// footer {
// 	border: 1px solid #ff0000;
// 	color: #ffffff;
// }
// dl,dt,dd {
// 	border: 1px solid #ffff00;
// 	color: #ffffff;
// }
/*---------------- あとで消す：END ----------------*/


/*---------------- カラー設定 ----------------*/
$black: #000000;
// $black: #212121;
$white: #FFFFFF;
// $silver: #90A4AE;//元の色
$silver: #afafb0;
$silver-bg: #dcdddd;
$red: #FF0000;
$wine: #990000;

$form-bg: #111111;
$form-border: #990000;
$form-color: #FFFFFF;

// $background: #000000;
// $main: #990000;
// $main-sub: #90A4AE;

$nav-accent: #ff33ff;
/*---------------- カラー設定：END ----------------*/



/*---------------- フォント設定 ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
$font-en: 'Alex Brush', cursive;
$font-ja: 'Sawarabi Mincho';
/*---------------- フォント設定：END ----------------*/

/*---------------- レスポンシブ ：END ----------------*/
body {
	width: 100%;
	margin: 0 auto;
}

/*---------------- ヘッダー ----------------*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	background: $black;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;

	.header__site-name	{
		margin: 20px 0 0 20px;
		h1 {
			color: $wine;
			font-size: 4em;
			padding-bottom: 5px;
			&:hover	span:nth-of-type(1) {
				color: $red;
				transition: 1s;
			}
			span:nth-of-type(1) {
				// color: $wine;
				transition: 1s;
			}
		}
	}
}
/*---------------- ヘッダー：END ----------------*/

/*---------------- ナビゲーション（PC） ----------------*/
@media all and (min-width: 1024px)	{
	.header__nav {
		display: flex;
		align-items: center;
		.header__nav-list {
			display: flex;
			align-items: center;
			li {
				margin-right: 40px;
				width: 120px;
				text-align: center;
			}
		}
	}

	.nav-btn {
		width: 100%;
		height: 100%;
		padding: 20px 0 10px;
		line-height: 20px;

		position: relative;
		display: inline-block;
		transition: 0.3s;

		.nav-en {
			letter-spacing: 2px;
			font-size: 2em;
		}
		.nav-ja {
			font-size: 0.8em;
			text-align: center;
		}

		// 伸びるアニメーション（上線・下線・日本語）
		@mixin nav-animation-stretch {
			position: absolute;
			left: 50%;
			content: '';
			width: 0;
			height: 1px;
			background-color: $wine;
			transition: all 1s;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		// 上線
		&::before {
			@include nav-animation-stretch;
			top: 0;
		}
		// 下線
		&::after {
			@include nav-animation-stretch;
			bottom: 0;
		}
		// 上下線マウスホバー
		&:hover {
			&::before,
			&::after {
				width: 100%;
				transition: .8s;
			}
		}

		/*-------- 日本語：ナビゲーション（PC） --------*/
		// マウスオーバー
		.nav-ja {
			letter-spacing: 0;
			transition: 2s;
		}
		// マウスホバー
		&:hover {
			.nav-ja {
				letter-spacing: 5px;
				transition: 1s;
			}
		}

		/*-------- 日本語：ナビゲーション（PC） --------*/
		// マウスオーバー
		.nav-en span {
			display: inline-block;
			transition: 2s;
		}
		// マウスホバー
		&:hover {
			// 英語部分
			.nav-en span {
				display: inline-block;
				-webkit-transform: rotateY(360deg);
				transform: rotateY(360deg);
				transition: .8s;
				@mixin nav-set($color:$wine,$delay:0s) {
					color: $color;
					-webkit-transition-delay: $delay;
					transition-delay: $delay;
				}
				&:nth-of-type(1) {
					@include nav-set($color:$red,$delay:.04s);
				}
				&:nth-of-type(2) {
					@include nav-set($delay:.12s);
				}
				&:nth-of-type(3) {
					@include nav-set($delay:.20s);
				}
				&:nth-of-type(4) {
					@include nav-set($delay:.28s);
				}
				&:nth-of-type(5) {
					@include nav-set($delay:.36s);
				}
				&:nth-of-type(6) {
					@include nav-set($delay:.44s);
				}
				&:nth-of-type(7) {
					@include nav-set($delay:.52s);
				}
			}
		}
	}
}
/*---------------- ナビゲーション（PC） ：END ----------------*/

section {
	&:first-of-type {
		margin-top: 200px;
	}
	.section__title {
		font-size: 3em;
		padding: 10px;
		margin: 0 auto;
	}
}

// About・Skill・Works
.section__contents {
	display: flex;
	justify-content: center;
	dl {
		margin-top: 40px;
		margin-bottom: 80px;
		width: 28%;
		margin: 60px 60px 70px 0;
		&:last-child {
			margin-right: 0;
		}
		.section__contents-title {
			font-size: 2.5em;
			padding: 10px 10px 5px;
			letter-spacing: 2px;
		}
		.section__contents-details {
			padding: 10px;
			.text-details {
				text-align: center;
				margin-bottom: 10px;
			}
			.btn-more {
				margin-top: 20px;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			ul {
				min-height: 50px;
			}
		}
	}
}

// Contact
.section__contents-form {
	border-radius: 15px;
	max-width: 600px;
	margin: 60px auto;
	padding: 20px;
	.contents-form__style {
		display: flex;
		flex-wrap: wrap;
		dt {
			text-align: left;
			padding: 10px 5px;
			width: 30%;
			margin-bottom: 20px;
		}
		dd {
			text-align: left;
			padding: 5px 0;
			width: 70%;
			margin-bottom: 20px;
		}
	}
	input[type="text"],
	textarea {
		width: 100%;
		height: 100%;
		padding: 5px;
		&::placeholder {
			color: $silver;
		}
	}
	.form-style__message {
		textarea {
			height: 140px;
		}
	}
	// 送信ボタン
	.form-style__submit {
		.btn-contact {
			width: 100px;
			margin: 0 auto;
			display: block;
		}
	}
}

footer {
	padding: 0 10px 10px;
	ul {
		margin: 30px auto 40px;
		display: flex;
		justify-content: center;
		li {
			font-family: $font-ja;
			width: 80px;
			text-align: center;
		}
	}
}


//------------------------------------------
// Responsive Grid Media Queries - 1280, 1024, 768, 480
// 1280-1024：デスクトップ（デフォルトのグリッド）
// 1024-768：タブレット横長
// 768-480：タブレット縦長
// 480-less：スマホ
//--------------------------------------------

// @media all and (min-width: 1024px) and (max-width: 1280px) {}
// タブレット横長
// @media all and (min-width: 768px) and (max-width: 1024px) {}
// タブレット縦長
// @media all and (min-width: 480px) and (max-width: 768px) {}

// -------- PC：レスポンシブ --------
@media all and (min-width: 1024px)	{
	header {
		nav {
			display: none;
		}
	}
	// TOPへ戻る（タブレット・スマホのみ）
	.btn-top {
		display: none;
	}
}

@media all and (max-width: 1024px)	{//後で消す
	header {
		background: #302833;//後で消す
	}
}
// -------- タブレット縦長＆スマホ：レスポンシブ --------

@media all and (max-width: 1024px)	{
	header {
		padding-bottom: 0;
		.header__site-name	{
			margin: 10px auto 0;
			h1 {
				font-size: 3em;
			}
		}
		.header__nav {
			display: none;
		}
	}

	nav {
		.btn-trigger {
			position: relative;
			width: 40px;
			height: 40px;
			cursor: pointer;
			border-radius: 50%;
			span {
				position: absolute;
				left: 0;
				right:0;
				margin: 0 auto;
				width: 60%;
				height: 2px;
				background-color: $silver;
				border-radius: 4px;
				&:nth-of-type(1) {
					top: 10px;
				}
				&:nth-of-type(2) {
					top: 18px;
				}
				&:nth-of-type(3) {
					bottom: 10px;
				}
			}
		}
		.btn-trigger, .btn-trigger span {
			display: inline-block;
			transition: all .5s;
			box-sizing: border-box;
		}
		.nav-hamburger {
			position: fixed;
			top: 20px;
			right: 20px;
			z-index: 2;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $black;
			border: 1px solid $wine;
		}
		#nav-hamburger.active {
			-webkit-transform: rotate(-360deg);
			transform: rotate(360deg);
		}
		#nav-hamburger.active span:nth-of-type(1),
		#nav-hamburger.active span:nth-of-type(3) {
			width: 15px;
			left: -48px;
		}
		#nav-hamburger.active span:nth-of-type(1) {
			-webkit-transform: translate(31px,13px) rotate(-45deg);
			transform: translate(31px,13px) rotate(-45deg);
		}
		#nav-hamburger.active span:nth-of-type(3) {
			-webkit-transform: translate(31px,-13px) rotate(45deg);
			transform: translate(31px,-13px) rotate(45deg);
		}


		.nav-inner {
			background: $black;
			border: 1px solid $wine;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 1;
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
			// アニメーション
			pointer-events: none;
			opacity: 0;
			transform-origin: center;
			transform: scale(.5);
			transition: all .3s ease;
			&.is-active {
				pointer-events: auto;
				opacity: 1;
				transform: scale(1.0);
			}
			ul {
				padding: 60px 0 50px;
				li {
					text-align: center;
					line-height: 25px;
					&:not(:last-of-type) {
						margin-bottom: 40px;
						border-bottom: 1px solid $wine;
					}
					a {
						display: block;
						width: 100%;
						height: 100%;
					}
					.nav-en {
						color: $wine;
						font-family: $font-en;
						font-size: 2em;
					}
					.nav-ja {
						color: $silver;
						font-family: $font-ja;
					}
				}
			}
		}
	}











	// About・Skill・Works
	section {
		&:first-of-type {
			margin-top: 100px;
		}
		.section__title {
			font-size: 3em;
			padding: 8px;
			margin: 0 auto;
		}
		.section__contents {
			display: block;
			dl {
				margin: 20px auto;
				width: 100%;
				&:last-child {
					margin: 0 auto 40px;
				}
				.section__contents-details {
					ul li {
						text-align: center;
					}
				}
			}
		}
	}

	// Contact
	.section__contents-form {
		width: 95%;
		margin: 40px auto;
		.contents-form__style {
			display: block;
			dt {
				font-size: 0.8em;
				text-align: center;
				padding: 5px 0;
				width: 100%;
				margin-bottom: 0;
			}
			dd {
				font-size: 0.8em;
				padding: 0;
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.form-style__message {
			textarea {
				height: 140px;
			}
		}
	}

	// TOPへ戻るボタン
	.btn-top {
		border-radius: 50%;
		border: 1px solid $wine;
		background: $black;
		color: $silver;
		font-family: $font-ja;
		width: 70px;
		height: 70px;
		line-height: 70px;
		text-align: center;

		position: fixed;
		bottom: 20px;
		right: 10px;
		z-index: 99;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		&::before {
			position: absolute;
			content: "";
			width: 10px;
			height: 10px;
			display: block;
			-webkit-transform: rotate(-45deg) translateX(-50%);
			-ms-transform: rotate(-45deg) translateX(-50%);
			transform: rotate(-45deg) translateX(-50%);
			top: 6px;
			left: 46%;
			border-top: 1px solid $silver;
			border-right: 1px solid $silver;
		}
	}

	footer {
		ul {
			li {
				min-width: 50px;
			}
		}
	}
}

// -------- スマホのみ：レスポンシブ	--------
@media all and (max-width: 480px) {
	header {
		padding: 0;
		.header__site-name	{
			h1 {
				font-size: 2em;
			}
		}
	}
	// About・Skill・Works
	section {
		&:first-of-type {
			margin-top: 60px;
		}
		.section__title {
			font-size: 2em;
			padding: 5px;
			margin: 0 auto;
		}
		.section__contents-form {
			width: 95%;
			border-radius: 10px;
			padding: 20px 5px;
		}
	}

	// TOPへ戻る
	.btn-top {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}
/*---------------- レスポンシブ ：END ----------------*/












/*---------------- カラー＆詳細設定：END ----------------*/
body {
	background-color: $black;
}

header {
	color: $silver;
	.header__site-name {
		font-family: $font-en;
	}
	.nav-en {
		font-family: $font-en;
		text-align: center;
	}
	.nav-ja {
		font-family: $font-ja;
		text-align: center;
	}
}

// About・Skill・Works
section {
	.section__title {
		color: $wine;
		border-top: 1px solid $wine;
		border-bottom: 1px solid $wine;
		font-family: $font-en;
		text-align: center;
	}
	dl {
		.section__contents-title {
			color: $wine;
			font-family: $font-en;
			text-align: center;
		}
		.section__contents-details {
			color: $silver;
			font-family: $font-ja;
			.text-details {
				font-family: $font-ja;
				color: $silver;
			}
			ul li {
				font-family: $font-ja;
				text-align: center;
			}
		}
	}
}

// Contact
.section__contents-form {
	background:	$form-bg;
	border: 1px solid $form-border;
	.contents-form__style {
		dt {
			display: flex;
			align-items: center;
			font-family: $font-ja;
			color: $form-color;
			.tag-required {
				background-color: $red;
				border-radius: 5px;
				color: $white;
				font-size: 0.3em;
				font-weight: bold;
				padding: 1px 3px;
				margin-right: 5px;
			}
		}
		dd {
			input[type="text"],
			textarea {
				background: $white;
				color: $black;
			}
		}
	}

	// 送信ボタン
	.form-style__submit {
		.btn-contact {
			border: 1px solid $red;
			text-align: center;
		}
	}
}

footer {
	color: $silver;
	font-family: $font-ja;
	border-top: 1px solid $silver;
	.copyright {
		color: $white;
		font-family: $font-ja;
		font-size: 0.1em;
		text-align: center;
	}
}

// ボタン
.btn-more {
	color: $silver;
	border: 1px solid $wine;
	font-family: $font-en;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto;
	width: 120px;
	height: 40px;
	line-height: 40px;
	// padding: 5px 20px;
}
/*---------------- カラー＆詳細設定：END ----------------*/

/*---------------- 画像 ----------------*/
@mixin img-style($img-pass) {
	background: url($img-pass) no-repeat center center;
	background-size: contain;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	text-indent:	-9999px;
}
// about
.img-about__me {@include img-style("../../img/ver2/about/me.jpg");}
// skill
.img-skill__lang {@include img-style("../../img/ver2/skill/lang.jpg");}
.img-skill__study {@include img-style("../../img/ver2/skill/study.jpg");}
.img-skill__school {@include img-style("../../img/ver2/skill/school.jpg");}
// works
.img-works__history {@include img-style("../../img/ver2/works/work.jpg");}
.img-works__portfolio {@include img-style("../../img/ver2/works/portfolio.jpg");}
.img-works__school {@include img-style("../../img/ver2/works/school.jpg");}
